<%= form_for(@garden) do |f| %>
  <% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>

      <ul>
      <% @garden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= collection_select(:user, :user_id, User.all, :id, :email, {:prompt => "select users"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
